<header>
  <div class="container">
    <h1 class="mainHeading">
      <a class="mainHeadingLink" href="/">
      <p class="h0 text-center" style="font-family: 'Fredericka the Great','Roboto', 'Noto Sans Vietnamese', sans-serif;">Lộc Lương</p>
      </a>
    </h1>

    <nav id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/randomThoughts">RandomThoughts</a></li>
        <li><a href="/viewBlogs">Research</a></li>
      </ul>
    </nav>
  </div>
</header>